.container
  max-width: 1256px
  width: 85%
  margin: auto
.row
  display: flex
  justify-content: space-between
  align-items: flex-start
.col
  &-30
    flex-basis: 31%  
  &-35
    max-width: 24.071rem  
    width: 35%
  &-40
    max-width: 40% 
    margin-right: 2rem
  &-50
    flex-basis: 50%  
    max-width: 50%
  &-60
    max-width: 48.5rem  
    width: 60%
    