.button
  padding: 0.785rem 1.428rem
  border: none
  border-radius: 2px
  text-transform: uppercase
  color: $light
  cursor: pointer
  outline: none
  &--primary
    background-color: $primary
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover      
      box-shadow: none
  &--outline
    background-color: transparent 
    border: 1px solid $light
  &__scroll-up
    outline: none
    display: none 
    opacity: 0.4
    filter: alpha(opacity = 50)
    position: fixed
    bottom: 2.85rem
    right: 2.85rem
    width: 40px
    height: 40px
    background: #000 url(../img/arrow-up.svg) no-repeat center
    border: 1.5px solid $primary
    border-radius: 50%
    padding: 0
    transition: 0.7s 
    z-index: 16
    &:hover
      cursor: pointer
      opacity: 1
      filter: alpha(opacity = 100)
      transition: 0.3s
.label
  font-size: 1.071rem
  &--light
    color: rgba($light, 0.5)
  &--dark
    color: rgba($dark-half, 0.5)  
.input
  background: transparent
  border: none
  border-bottom: 1px solid rgba(255, 255, 255, 0.15)   
  font-size: 1.285rem
  color: $light
  padding: 0.5rem
  outline: none
  &::placeholder
    color: $light
  &--dark
    color: $dark-second  
    border-bottom: 1px solid rgba($dark-second, 0.3)  
    padding: 0
    padding-bottom: 0.55rem
    &::placeholder
      color: $dark-second
  &-group
    position: relative    
.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked +
      .invalid +
        .policy__label
          &::before
            background: $primary url("../img/modal/okCheck.svg") no-repeat center / 0.8rem   
    &:checked +
      .policy__label
        &::before
          background: $primary url("../img/modal/okCheck.svg") no-repeat center / 0.8rem            
  &--light
    color: $light          
  &__label
    display: flex
    align-items: center
    font-size: 1.143rem
    &::before
      content: ""
      width: 18px
      height: 18px
      border: 1px solid $primary 
      border-radius: 1px   
      cursor: pointer
      margin-right: 0.643rem
    &--center
      justify-content: center 
      font-size: 1.142rem  
.invalid
  position: absolute
  left: 0
  bottom: -50%
  color: tomato
  padding-top: 0.5rem
.input
  &.invalid
    position: relative
    border-bottom: 1px solid tomato  
    left: 0
    bottom: 0  
.policy  
  &__checkbox
    &.invalid
      position: relative
      left: 0
      bottom: 0    
.control
  &__policy
    position: relative        
.modal
  &__policy
    position: relative  
.footer
  &__policy
    position: relative     
#footerPolicyCheckbox-error
  left: 24%          
#controlPolicyCheckbox-error  
  left: 28.5%   
.title
  &--primary
    color: $primary  