.button
  padding: 13px 20px
  border: none
  border-radius: 2px
  text-transform: uppercase
  color: $light
  &--primary
    background-color: $primary
  &--outline
    background-color: transparent 
    border: 1px solid $light

