@media screen and (max-width: 1366px)
  html
    font-size: 13px
@media screen and (max-width: 1200px)  
  html
    font-size: 12px
  .nav__item
    margin-right: 0.857rem  
  .hero
    &__scroll-down
      font-size: 1rem  
  .section
    &-title
        font-size: 1.3rem      
@media screen and (max-width: 992px)      
  .nav
    display: none
  .instagram
    display: none  
  .hero
    &::after
      display: none
    &__scroll-down
      font-size: 0.857rem  
      min-width: 12.857rem
      min-height: 3.464rem
      bottom: -1px
    &__content
      margin-left: 0  
  .section
    &-title
      &__word
        &::after
          display: none      
  .projects
    padding: 4rem 0
    &__col-40, &__col-60
      max-width: 100%  
    &__swiper
      &-container
        margin-bottom: 2.5rem 
  .swiper
    &-wrapper
      margin-bottom: 2.5rem                 
  .team
    height: 140rem
    margin-top: -134rem        
  .row
    flex-direction: column
    align-items: center    
  .types
    &__col
      margin-bottom: 4.29rem   
  .design
    background: $dark
    &__section-title, &__title-text
      color: $light 
    &__col
      margin-bottom: 4.29rem    
    &::after
      display: none  
@media screen and (max-width: 772px)
  .projects
    &__col-40, &__col-60
      max-width: 100%     
    &__swiper
      &-container
        &--photo
          max-width: 31rem  
          width: 100%
@media screen and (max-width: 576px)
  .container
    width: 89%
  .menu
    &__logo
      letter-spacing: 0.039rem
      font-size: 1rem
      line-height: 1.16rem
  .contacts
    &__button
      display: none
    &__phone
      color: $light
      text-decoration: none
      letter-spacing: 0.01rem
      margin: 0
      font-size: 1rem
  .hero
    display: block
    padding-top: 11.7rem  
    height: 100%    
    &__content
      margin: auto
      max-width: 28.33rem
    &__scroll-down
      display: none        
    &__title
      font-size: 1.916rem
      line-height: 2.5rem   
      margin-bottom: 1.09rem
    &__text
      margin: 0
      line-height: 2rem
      font-size: 1.5rem 
    &__button
      width: 100% 
      margin-right: 0
      margin-bottom: 2.3rem  
      line-height: 1.4rem
      font-size: 1.1rem
    &__buttons 
      margin-top: 2.9rem  
  .button
    &--outline
      padding: 1.35rem 3.2rem  
  .section-title
    font-size: 1.3rem  
    letter-spacing: -0.09rem
    &__text-p
      font-size: 1.2rem
      line-height: 158.48%
      font-weight: normal
      max-width: 25.57rem
      letter-spacing: -0.01rem
      margin-bottom: 3.45rem
      padding-top: 0.2rem
  .projects
    &__section
      &-title
        letter-spacing: -0.2rem     
    &__col
      &-40
        margin-right: 4rem       
    
  .card
    &__text
      margin-left: 0  
      margin-top: -13.5rem 
      padding-left: 3rem    
      max-width: 22.57rem
      &--mobile
        &-2
          margin-top: -12.2rem
          padding-left: 2.5rem
    &__list
      padding: 0 0 1rem 1.2rem  
    &__item
      line-height: 1.9rem
    &__price 
      &-tag
        bottom: -0.9rem
        left: 0.5rem
        padding: 0.8rem 2.7rem   
        &--mobile
          &-2
            bottom: -1rem
            left: 0rem
            padding: 0.8rem 2.44rem
          &-3
            padding: 0.8rem 1.89em  
  .types
    &__col
      margin-bottom: 5.9rem
    &__section
      &-title
        margin-bottom: 3.5rem    
  .img
    &--overhaul
      &-mobile
        display: block
      &-desctop
        display: none       
  .design     
    &__col
      &--mobile
        margin-bottom: 6rem
    &__title-text
      max-width: 25.4rem
      width: 100%    
      font-size: 1.19rem
      line-height: 1.79rem
      letter-spacing: 0.02rem
  .price-tag--margin-right
    padding: 0.6rem 3.9rem
  .item--none
    display: none  
  .ellipsis
    display: inline-block    

@media screen and (max-height: 630px)    
  .hero
    &__scroll-down
      display: none        
@media screen and (max-height: 570px)      
  .hero
    &::after
      display: none
@media screen and (max-height: 520px) 
  .hero
    min-height: 500px  


          