@media screen and (max-width: 1366px)
  html
    font-size: 13px
@media screen and (max-width: 1200px)  
  html
    font-size: 12px
  .nav__item
    margin-right: 0.857rem  
  .hero
    &__scroll-down
      font-size: 1rem  
  .section
    &-title
        font-size: 1.3rem      
@media screen and (max-width: 992px)      
  .nav
    display: none
  .instagram
    display: none  
  .hero
    &__scroll-down
      font-size: 0.857rem  
      min-width: 12.857rem
      min-height: 3.464rem
    &__content
      margin-left: 0  
  .team
    height: 140rem
    margin-top: -134rem        
  .row
    flex-direction: column
    align-items: center    
  .types
    &__col
      margin-bottom: 4.29rem   
  .design
    &__col
      margin-bottom: 4.29rem     
@media screen and (max-width: 576px)
  .container
    width: 89%
  .menu
    &__logo
      letter-spacing: 0.039rem
      font-size: 1rem
      line-height: 1.16rem
  .contacts
    &__button
      display: none
    &__phone
      color: $light
      text-decoration: none
      letter-spacing: 0.01rem
      margin: 0
      font-size: 1rem
  .hero
    display: block
    padding-top: 11.7rem  
    height: 100%
    &::after
      display: none
    &__content
      margin: auto
      max-width: 28.33rem
    &__scroll-down
      display: none        
    &__title
      font-size: 1.916rem
      line-height: 2.5rem   
      margin-bottom: 1.09rem
    &__text
      margin: 0
      line-height: 2rem
      font-size: 1.5rem 
    &__button
      width: 100% 
      margin-right: 0
      margin-bottom: 2.3rem  
      line-height: 1.4rem
      font-size: 1.1rem
    &__buttons 
      margin-top: 2.9rem  
  .button
    &--outline
      padding: 1.35rem 3.2rem  
  .section-title
    font-size: 1.3rem  
    letter-spacing: -0.09rem
  .card
    &__text
      margin-left: 0  
      margin-top: -12.29rem     
      max-width: 22.57rem
    &__list
      padding: 0 0 1rem 1.2rem  
    &__item
      line-height: 1.9rem
    &__price 
      &-tag
        bottom: -1.05rem
        padding: 0.8rem 2.7rem     
  .types
    &__col
      margin-bottom: 5.9rem
    &__section
      &-title
        margin-bottom: 3.5rem    
  .img
    &--overhaul
      &-mobile
        display: block
      &-desctop
        display: none       
  .design
    background: $dark
    &__section-title
      color: $light  
    &__title-text
      max-width: 25.4rem
      width: 100%    
      color: $light  
      font-size: 1.19rem
      line-height: 1.79rem
      letter-spacing: 0.02rem
  .price-tag--margin-right
    padding: 0.6rem 3.9rem
  .item--none
    display: none  
  .ellipsis
    display: inline-block      
            
@media screen and (max-height: 570px)      
  .hero
    &::after
      display: none
    &__scroll-down
      display: none
@media screen and (max-height: 520px) 
  .hero
    min-height: 500px  


          