*, *:after, *:before
  box-sizing: border-box 
html
  font-size: 14px   
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img
  max-width: 100%
  overflow: cover
.section
  margin-bottom: 4rem 
  &--dark
    background: $dark
    color: $light
  &-title
    margin-bottom: 2.5rem
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column    
    font-weight: normal
    line-height: 1.75rem
    letter-spacing: -0.045rem
    &--left
      display: block
      text-align: left   
      margin-bottom: 0   
    &--light
      color: $light  
    &__heading
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
      font-weight: normal
      &--primary
        color: $primary
    &__word
      display: flex
      align-items: center
      line-height: 138.6%   
      &::after
        content: ""
        width: 6.7rem
        height: 2px
        background: $primary
        margin-left: 2.35rem
      &--long-space
        &::after          
          margin-left: 6rem
    &__types
      margin-top: 1.8rem
    &__img 
      display: flex
      justify-content: center
      align-items: center
      &::after, &::before
        content: ""
        width: 32px
        height: 2px
        border-radius: 30px
        background: $primary
        margin: 0 10px
    &__text
      font-weight: normal
      font-size: 1.17rem
      line-height: 1.93rem
      text-align: center
      color: $dark-second
      text-transform: none  
    &__text-p
      font-size: 1.28rem
      line-height: 2.07rem  
      font-weight: normal 
      max-width: 31.57rem 
      letter-spacing: 0.001rem
      margin-bottom: 3.45rem
    &__subtitle
      font-family: 'Futura Book', sans-serif  
      font-style: normal
      font-size: 1.071rem
      line-height: 1.5rem
      text-transform: uppercase  
      margin-bottom: 1.285rem
