.design
  &__title-text
    font-family: 'Futura Book', sans-serif
    max-width: 52.93rem
    width: 80%
    font-size: 1.32rem
    line-height: 1.8rem
    letter-spacing: 0.05rem
  &__section-title
    margin-bottom: 2rem  
.price-tag--margin-right
  padding: 1.2rem 5.5rem 1.2rem 2.39rem  
.ellipsis
  display: none  
  
  