.design
  &__title-text
    font-family: 'Futura Book', sans-serif
    max-width: 52.93rem
    width: 80%
.price-tag--margin-right
  padding: 1.214rem 5.8rem 1.214rem 2.5rem    
.ellipsis
  display: none  
  
  