.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-top: 7.857rem
  background: $dark url("../img/bg-hero.jpg") no-repeat center / cover
  height: 100vh
  color: $light
  &::before
    content: ""
    width: 100%
    height: 100%
    background: rgba($dark, 0.7)
    position: absolute
    left: 0
    top: 0
  &__title
    font-family: 'Yeseva One', cursive;
    font-size: 2.857rem
    line-height: 3.9rem
    font-weight: normal
    letter-spacing: -0.009rem
    text-transform: uppercase
    margin: 0  
    &--primary
     color: $primary  
  &__text
    font-size: 1.57rem;
    line-height: 30px;
    max-width: 35.714rem
    margin: 1rem 0
  &__content
    max-width: 47.857rem
    position: relative
    margin-left: 3.928rem
  &__instagram
    max-width: 5.714rem
    height: 100%
    position: absolute
    top: 0
    left: 0    
  &__scroll-down
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    left: 0
    bottom: 0  
    min-width: 247px
    min-height: 97px
    background-color: $dark
    color: $light
    font-size: 0.857rem
    text-transform: uppercase
    text-decoration: none
    letter-spacing: 0.098rem;
    &::after
      content: ""
      width: 30px
      height: 30px
      background: url("../img/arrow_down.svg") no-repeat center
      border: 2px solid $primary
      border-radius: 50%
      margin-left: 1.1rem      
  &__button
    padding: 1.357rem 1.857rem
    margin-right: 1.2rem
    font-weight: 500;
    font-size: 0.95rem
    line-height: 1.0714rem
  &__buttons
    margin-top: 3.3rem    
.instagram
  background-color: $dark
  display: flex
  justify-content: center
  align-items: center
  &__link
    display: flex
    justify-content: center
    align-items: center 
    text-transform: uppercase
    text-decoration: none
    color: $primary
    transform: rotate(90deg)
    line-height: 0.8
    &::after
      content: ""
      width: 50px
      height: 1px
      background: $primary
      margin-left: 8px
.button--outline
  padding: 1.2rem 3.2rem;      
