.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-top: 110px
  background: $dark url("../img/bg-hero.jpg") no-repeat center / cover
  height: 100vh
  color: $light
  &__text
    font-size: 22px;
    line-height: 30px;
    max-width: 500px
  &__content
    max-width: 670px
  &__instagram
    max-width: 80px
    height: 100%
    position: absolute
    top: 0
    left: 0
  &__scroll-down
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    left: 0
    bottom: 0  
    min-width: 247px
    min-height: 97px
    background-color: $dark
    color: $light
    text-transform: uppercase
    text-decoration: none
  &__button
    margin-right: 20px  
.instagram
  background-color: $dark
  display: flex
  justify-content: center
  align-items: center
  &__link
    text-transform: uppercase
    text-decoration: none
    color: $primary
    transform: rotate(90deg)
.title
  font-family: 'Yeseva One', cursive;
  font-size: 40px
  text-transform: uppercase
  margin: 0  
  &--primary
    color: $primary
